.start {
  margin-top: 3em;
  max-width: 80%;
  background-image: url(/hero.png);
  background-size: cover;
  padding: 10% 0 0 0;
  cursor: default;
}

.start:hover {
  cursor: default;
}

.bg-overlay {
  background: linear-gradient(-45deg, #5161ce, #5161ce);
  padding: 0 20px 40px 20px;
  position: relative;
}

.bg-overlay .price {
  display: flex;
  text-align: center;
  justify-content: center;
}

.start:hover {
  transform: none;
}

.start.card.text-center::before {
  height: 40%;
  bottom: -10%;
}

.page-1 {
  /* padding: 1em; */
}

svg {
  background-size: cover;
  width: 100%;
  display: block;
}

.bg-container {
  /* display: flex;
    flex-direction: column; */
}

.start h4 {
  font-size: 35px;
}

.settings {
  display: flex;
  margin: 1em 3em;
}

.settings .daySetting {
  margin: 0;
  flex: 1 0 75%;
  position: relative;
  z-index: 2;
  background: #fff;
  background-color: rgb(255, 255, 255);
  color: black;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  display: block;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: transparent;

  display: flex;
  overflow: hidden;
}

.settings .daySetting > div {
  flex-grow: 1;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 2px solid #fff;
  transition: all 0.1s ease-in-out 0s;
  user-select: none;
}

.settings .daySetting > div:first-child {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-right: none;
}

.settings .daySetting > div:last-child {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-left: none;
}

.settings .daySetting > div:not(:last-child):not(:first-child) {
  border-left: none;
  border-right: none;
}

.settings .daySetting > div:hover,
.settings .daySetting .selected {
  background-color: #fff;
}

.settings .daySetting > .reset:hover {
  color: #db4437;
}

.settings .daySetting > div:hover,
.settings .daySetting .selected {
  color: #39cb8c;
}

.auto-scroll {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 25%;
}

.auto-scroll > div {
  cursor: pointer;
  z-index: 2;
}

.settings i {
  margin-right: 10px;
}

.external {
  text-decoration: none;
  color: #0f9d58 !important;
  font-size: 1em;
  margin: auto 0 auto 10px;
}

.external:hover {
  color: #75ffbc !important;
}

 /* tt container */
.tt {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* tt text */
.tt .tttext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tt text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tt */
  opacity: 0;
  transition: opacity 0.3s;
}

/* tt arrow */
.tt .tttext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tt text when you mouse over the tt container */
.tt:hover .tttext {
  visibility: visible;
  opacity: 1;
} 